@media screen and  (min-width:375px) and (max-width:1024px){
    .site-header{
        background-color: #ECDFC8;
        margin: 0 auto;
        
    }
    .logo{
        margin: 0 auto;
        text-align: center;
        padding-top: 5%;
        
    }
    a img{
        width:40%;
    }
    nav ul{
        text-align: center;
        list-style: none;
        padding: 1%;
        margin: 0;
    }
    
    nav ul li a{
        color: black;
        display: block;
        text-decoration: none;
        padding:8%;
    }
    nav li a:hover{
        background-color: black;
        color:white;
        text-decoration: underline;
    }
    .c-container{
        /* display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
        width: auto;
        
    }
    .warp-form{
        /* grid-template-rows: 1/2; */
        display: block;
        text-align: center;
        background-color: wheat;
        box-shadow: 2px 2px 8px 1px rgb(0, 0, 0,0.1);
        padding:05%;
        height:auto;
        
    }
    textarea,
    input{
    display:block;
    width:90%;
    padding:5px;
    font-size:1.15rem;
    border:1px solid black;
    background:none;
  }
    textarea:focus,
    input:focus{
    outline-color: rgb(255,124,0);
    border-color: rgb(255,124,0);
  }
    input[type="radio"],
    input[type="checkbox"],
    input[type="numbrt"],
    input[type="date"]{
    width:auto;
    display: inline-block;
  }
    input[type="color"]{
        border:none;
        width:50px;
        height:50px;
    }
    input[type="radio"] + div{
        border:2px solid rgb(124,0,0);
        width:15px;
        height:15px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }
    input[type="radio"]:checked + div{
        background-color: rgb(255,124,0);
    }
    input[type="radio"]{
        display:none;
    }
    select{
        font-size:1.15rem;
        background: transparent;
        vertical-align: top;
    }
    textarea{
        resize:none;
        height:5rem;
    }
    button[type="submit"],
    button[type="reset"]{
        font-size:1.05rem;
        background-color: yellowgreen;
        padding:auto;
        letter-spacing: .1rem;
        cursor: pointer;

  }
  .btn{
      padding: 2%;
  }
  footer{
    list-style: none;
    background-color: #ECDFC8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top:0;
}
.icon{
    
    grid-column: 4/5;
    
    
}
.icon-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icon-1 li{
    list-style: none;
    

}


.nav{
    display: flex;
    
    flex-direction: column;
    list-style: none;
   

}
.nav-2{
   display: none;
}
}
@media screen and (min-width:1024px) and (max-width:1280px){
    .site-header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #ECDFC8;
    }
    .logo-container{
        grid-column: 1/2;
    }
    a img{
        width:50%;
    }
    .navigation{
        grid-column: 2/3;
    }
    nav ul{
        display:flex;
        list-style-type:none;
        margin:0;
        padding:5%;
    }
    nav ul li{
        flex:1;
        
        margin:0 0;
        text-align: center;
        text-transform: uppercase;
        
    }
    nav li a{
        color: black;
        
        display: block;
        text-decoration: none;
        padding: 20px;
    }
    nav li a:hover{
        background-color: black;
        color:white;
        text-decoration: underline;
    }
    .c-container{
        /* display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
        width: auto;
        
    }
    .warp-form{
        /* grid-template-rows: 1/2; */
        display: block;
        text-align: center;
        background-color: wheat;
        box-shadow: 2px 2px 8px 1px rgb(0, 0, 0,0.1);
        padding:05%;
        height:auto;
        
    }
    textarea,
    input{
    display:block;
    width:90%;
    padding:5px;
    font-size:1.15rem;
    border:1px solid black;
    background:none;
  }
    textarea:focus,
    input:focus{
    outline-color: rgb(255,124,0);
    border-color: rgb(255,124,0);
  }
    input[type="radio"],
    input[type="checkbox"],
    input[type="numbrt"],
    input[type="date"]{
    width:auto;
    display: inline-block;
  }
    input[type="color"]{
        border:none;
        width:50px;
        height:50px;
    }
    input[type="radio"] + div{
        border:2px solid rgb(124,0,0);
        width:15px;
        height:15px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }
    input[type="radio"]:checked + div{
        background-color: rgb(255,124,0);
    }
    input[type="radio"]{
        display:none;
    }
    select{
        font-size:1.15rem;
        background: transparent;
        vertical-align: top;
    }
    textarea{
        resize:none;
        height:5rem;
    }
    button[type="submit"],
    button[type="reset"]{
        font-size:1.05rem;
        background-color: yellowgreen;
        padding:auto;
        letter-spacing: .1rem;
        cursor: pointer;

  }
  .btn{
    padding: 2%;
}
footer{
        
    background-color: #ECDFC8;
    
    margin-top:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .nav{
      grid-column: 1/2;
      list-style: none;
  }
  .icon{
      grid-column: 4/5;
      
  }
  .icon-1{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width:1280px){
    .site-header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #ECDFC8;
    }
    .logo-container{
        grid-column: 1/2;
    }
    a img{
        width:50%;
    }
    .navigation{
        grid-column: 2/3;
    }
    nav ul{
        display:flex;
        list-style-type:none;
        margin:0;
        padding:5%;
    }
    nav ul li{
        flex:1;
        
        margin:0 0;
        text-align: center;
        text-transform: uppercase;
        
    }
    nav li a{
        color: black;
        
        display: block;
        text-decoration: none;
        padding: 20px;
    }
    nav li a:hover{
        background-color: black;
        color:white;
        text-decoration: underline;
    }
    .c-container{
        /* display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */
        width: auto;
        
    }
    .warp-form{
        /* grid-template-rows: 1/2; */
        display: block;
        text-align: center;
        background-color: wheat;
        box-shadow: 2px 2px 8px 1px rgb(0, 0, 0,0.1);
        padding:05%;
        height:auto;
        
    }
    textarea,
    input{
    display:block;
    width:90%;
    padding:5px;
    font-size:1.15rem;
    border:1px solid black;
    background:none;
    border-radius: 10%;
  }
    textarea:focus,
    input:focus{
    outline-color: rgb(255,124,0);
    border-color: rgb(255,124,0);
  }
    input[type="radio"],
    input[type="checkbox"],
    input[type="numbrt"],
    input[type="date"]{
    width:auto;
    display: inline-block;
  }
    input[type="color"]{
        border:none;
        width:50px;
        height:50px;
    }
    input[type="radio"] + div{
        border:2px solid rgb(124,0,0);
        width:15px;
        height:15px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }
    input[type="radio"]:checked + div{
        background-color: rgb(255,124,0);
    }
    input[type="radio"]{
        display:none;
    }
    select{
        font-size:1.15rem;
        background: transparent;
        vertical-align: top;
    }
    textarea{
        resize:none;
        height:5rem;
    }
    button[type="submit"],
    button[type="reset"]{
        font-size:1.05rem;
        background-color: yellowgreen;
        padding:auto;
        letter-spacing: .1rem;
        cursor: pointer;

  }
  .btn{
    padding: 2%;
}
footer{
        
    background-color: #ECDFC8;
    
    margin-top:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .nav{
      grid-column: 1/2;
      list-style: none;
  }
  .icon{
      grid-column: 4/5;
      
  }
  .icon-1{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-2{
      list-style: none;
  }

}