@media screen and  (min-width:375px) and (max-width:1024px){
    .site-header{
        background-color: #ECDFC8;
        margin: 0 auto;
        
    }
    .logo{
        margin: 0 auto;
        text-align: center;
        padding-top: 5%;
        
    }
    a img{
        width:40%;
    }
    nav ul{
        text-align: center;
        list-style: none;
        padding: 1%;
        margin: 0;
    }
    
    nav ul li a{
        color: black;
        display: block;
        text-decoration: none;
        padding:8%;
    }
    nav li a:hover{
        background-color: black;
        color:white;
        text-decoration: underline;
    }
    main{
        background-color: #FCF8E8;
        padding:0;
        
    }
    h1{
        margin:0 auto;
        text-align: center;
    }
    .img-1{
        width: 100%;
    }
    .just-for-moblie{
        padding:2%;
    }
    .section-1{
        display:none;
    }
    .section-2{
        display:none;
    }
    .section-3{
        display:none;
    }
    .section-4{
        display:none;
    }
    .section-5{
        display:none;
    }
    .section-6{
        display:none;
    }
    footer{
        list-style: none;
        background-color: #ECDFC8;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top:0;
    }
    .icon{
        
        grid-column: 4/5;
        
        
    }
    .icon-1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .icon-1 li{
        list-style: none;
        

    }
    
  
    .nav{
        display: flex;
        
        flex-direction: column;
        list-style: none;
       

    }
    .nav-2{
        list-style: none;
        display: none;
    }
  
}
@media screen and (min-width:1024px) and (max-width:1280px){
    .site-header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #ECDFC8;
    }
    .logo-container{
        grid-column: 1/2;
    }
    a img{
        width:50%;
    }
    .navigation{
        grid-column: 2/3;
    }
    nav ul{
        display:flex;
        list-style-type:none;
        margin:0;
        padding:5%;
    }
    nav ul li{
        flex:1;
        
        margin:0 0;
        text-align: center;
        text-transform: uppercase;
        
    }
    nav li a{
        color: black;
        
        display: block;
        text-decoration: none;
        padding: 20px;
    }
    nav li a:hover{
        background-color: black;
        color:white;
        text-decoration: underline;
    }
    .addition-section{
        display: none;
    }
    .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: #FCF8E8;
    }
    .section-1{
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        

    }
    .img-1-1{
        width: 50%;
    }
    .img-2{
        width: 50%;
    }
    .section-2{
        display: block;
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
    }
    .img-3{
        width: 50%;
        padding:2%;
    }
    .section-3{
        display: block;
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }
    .img-4{
        width:60%;
    }
    .section-4{
        display: block;
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
        

    }
    .section-5{
        display: none;
    }
    .section-6{
        display: none;
    }
    footer{
        
        background-color: #ECDFC8;
        
        margin-top:0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .nav{
          grid-column: 1/2;
          list-style: none;
      }
      .icon{
          grid-column: 4/5;
          
      }
      .icon-1{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
}
@media screen and (min-width:1280px){
    .site-header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #ECDFC8;
    }
    .logo-container{
        grid-column: 1/2;
    }
    a img{
        width:50%;
    }
    .navigation{
        grid-column: 2/3;
    }
    nav ul{
        display:flex;
        list-style-type:none;
        margin:0;
        padding:5%;
    }
    nav ul li{
        flex:1;
        
        margin:0 0;
        text-align: center;
        text-transform: uppercase;
        
    }
    nav li a{
        color: black;
        
        display: block;
        text-decoration: none;
        padding: 20px;
    }
    nav li a:hover{
        background-color: black;
        color:white;
        text-decoration: underline;
    }
    .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: #FCF8E8;
        }
    .addition-section{
        display: none;
    }
    .section-1{
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        

    }
    .img-1-1{
        width: 50%;
        padding: 10%;
    }
    .img-2{
        width: 50%;
        padding: 10%;
    }
    .section-2{
        display: block;
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
    }
    .img-3{
        width: 50%;
        padding:10%;
    }
    .section-3{
        display: block;
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
    }
    .img-4{
        width:60%;
        padding: 10%;
    }
    .section-4{
        display: block;
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
        

    }
    .img-5{
        width:50%;
        padding: 10%;
    }
    .section-5{
        grid-column: 3/4;
        grid-row: 1/2;
        text-align: center;
    }
    .img-6{
        width:50%;
        padding: 10%;
    }
    .section-6{
        grid-column: 3/4;
        text-align: center;
        
    }
    footer{
        
        background-color: #ECDFC8;
        
        margin-top:0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .nav{
          grid-column: 1/2;
          list-style: none;
      }
      .icon{
          grid-column: 4/5;
          margin-top:5%;
          
      }
      .icon-1{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    

}
